h5 {
    color:chartreuse;
}
h3{
    font-size: large;
}
#id1{
    color:fuchsia;
}
.text{
    color: chocolate;
}
a.text{
    color: gold;
}
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size:xx-small;
}
body{
    background-image: url(dowload.webp);
    background-repeat: no-repeat;
}